<div class="container">

    <div ng-include="'app/components/navbar/navbar.html'"></div>

    <div ng-repeat="component in deviceList" class="col-md-3">
        <div
                class="btn btn-primary"
         data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
                ng-model="component"
                jqyoui-draggable="{animate:true, onStart:'startCallback(component)'}"
                ng-hide="!component.name"
                >
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
            {{component.name}}
        </div>
    </div>

    <div class="thumbnail" data-drop="true"
         data-jqyoui-options
         ng-model="dropElem"
         jqyoui-droppable="{onOut:'onOut', onOver:'onOver', onDrop:'onDrop'}"
         style='height:50px;'>

        <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="dropElem"
             jqyoui-draggable
             ng-hide="!dropElem.title">
            {{dropElem.title}}
        </div>
    </div>

    <div ng-repeat="component in deviceList" class="col-md-3 ">
        {{component.name}}
    </div>

    <div class="footer">
        <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
    </div>

</div>
