<div class="container" data-ng-init="init()">

    <div ng-include="'app/components/navbar/navbar.html'"></div>

    <div class="jumbotron"><h2>Configuration</h2> der -- Devices
    </div>

    <div class="container">

        <!-- Sensoren -->
        <div class="row" ng-if="componentListViewMode=='S'">

            <div class="col-md-1">{{componentListView}}</div>

            <div class="col-md-11" style='margin:20px;'>

                <!-- Sensoren -->
                <div
                     ng-repeat="component in deviceList | orderBy: 'name' | filter: {configMode:'UNCONFIGURED', sensors:'!'}"
                     class="col-xs-4 col-md-3"
                        >
                    <div
                            class="panel panel-default"
                            data-drag="true"
                            data-jqyoui-options="{deepCopy: 'true', revert: 'invalid'}"
                            ng-model="component"
                            jqyoui-draggable="{snapMode: 'inner', snap:'true', animate:false}"
                            >
                        <span class="glyphicon glyphicon-cloud"
                              aria-hidden="true"
                              editable-text="component.name"
                              e-form="textBtnForm"
                              e-required
                              e-placeholder="Bitte Name eingeben"
                              e-style="color: green"
                                >
                            {{component.name}}
                        </span>
                        <button class="btn btn-link"
                                ng-click="textBtnForm.$show()"
                                ng-hide="textBtnForm.$visible"
                                >
                            <span class="glyphicon glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>

                <!-- Aktualtoren 
                <div ng-if="componentListViewMode=='A'"
                     ng-repeat="component in deviceList | orderBy: 'name' | filter: {configMode:'UNCONFIGURED', actors:'!'}"
                     class="col-xs-4 col-md-3"
                        >

                    <div
                            class="btn btn-default btn-block"
                            data-drag="true"
                            data-jqyoui-options="{deepCopy: 'true', revert: 'invalid'}"
                            ng-model="component"
                            jqyoui-draggable="{snapMode: 'inner', snap:'true', animate:false}"
                            >
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                        {{component.name}}
                    </div>
                </div>
                -->

            </div>
        </div>

        <!-- Verknüpfung -->
        <div class="row">
            <div class="col-md-1">Logik Verknüpfung</div>


            <div class="col-md-3 panel panel-default">
                <div class=""
                     data-drop="true"
                     data-jqyoui-options
                     ng-model="dropElem"
                     jqyoui-droppable="{onDrop:'onDrop'}"
                        >

                    <a ng-repeat="component in deviceList | orderBy: 'name' | filter: {configMode:'CONFIGURING', sensors:'!'}"
                       class="btn btn-primary btn-lg btn-block"
                       data-drag="false"
                       data-jqyoui-options
                       ng-model="component"
                       jqyoui-draggable
                       ng-href="#/config/{{component.serialNo}}"
                       ng-click="doTask(component);"
                       role="button"
                            >

                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                    </a>
                    {{component.name}}

                    <div class="" style='height:200px;' ng-hide="isConfModeEnabled()">Bitte hier einen Sensor ziehen
                        ..
                    </div>

                    <a ng-repeat="component in deviceList | orderBy: 'name' | filter: {configMode:'CONFIGURING', actors:'!'}"
                       class="btn btn-primary btn-lg btn-block"
                       data-drag="false"
                       data-jqyoui-options
                       ng-model="component"
                       jqyoui-draggable
                       ng-href="#/config/{{component.serialNo}}"
                       ng-click="doTask(component);"
                       role="button"
                            >

                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                        {{component.name}}
                    </a>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- Sensor-detail-snippet -->
            <div class="col-md-8">
                <div ui-view></div>
            </div>
        </div>

        <!-- Aktuatoren -->
        <div class="row" ng-if="componentListViewMode=='A'">
            <div class="col-md-1">Aktuatoren</div>

            <div class="col-md-11" style='height:200px;'>
                <div ng-repeat="component in deviceList | orderBy: 'name' | filter: {configMode:'UNCONFIGURED', actors:'!'}"
                     class="col-xs-4 col-md-3"
                        >

                    <div
                            class="btn btn-default btn-block"
                            data-drag="true"
                            data-jqyoui-options="{deepCopy: 'true', revert: 'invalid'}"
                            ng-model="component"
                            jqyoui-draggable="{snapMode: 'inner', snap:'true', animate:false, onStart:'startCallback(component, $index)'}"

                            >
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                        {{component.name}}
                    </div>
                </div>
            </div>
        </div>
        <!-- -->

    </div>

    <!--
    <div class="row">
        <div ng-repeat="component in deviceList" class="col-md-3 ">
            {{component.name}}
        </div>
    </div>
    -->

    <div class="footer">
        <p>With ♥ from <a href="//#">@Mold-Soft GmbH</a></p>
    </div>

</div>
